// Các biến màu sắc
$white: white;
$primary-color: #4b8bdb;  // Màu chính của website
$secondary-color: #0d4e80; // Màu nền hoặc màu đậm
$text-color: #7a7a7a; // Màu văn bản chính
$hover-color: #61ce70; // Màu khi hover lên các phần tử
$header-color: #0D4E80;
$text-color-black: black;