@use "@/styles/variables.scss" as *; 
/* HeroSection.scss */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: $white;
  height: 800px;
  color: $white;
  position: relative;
  width: 100%;

  /* Left Content */
  &__content {
    max-width: 35%;
    position: absolute;
    left: 10%;
    top: auto;
  }

  &__title {
    font-size: 2.7rem;
    font-weight: bold;
    color: $header-color;
    margin-bottom: 20px;
  }

  &__description {
    font-size: 1.14rem;
    color: $text-color-black;
    margin-bottom: 30px;
  }

  &__button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: $white;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Montserrat, sans-serif;

    &:hover {
      background-color: #3e8e41;
    }
  }
  &__image {
    max-width: 100%;
    img {
      max-width: 100%;
    }
  }
}

.hero-section-2 {
  display: flex;
  padding: 4rem 9rem;
  justify-content: space-between;

  &__content {
    width: 50%;
  }

  &__title {
    color: $header-color;
    font-size: 1.9rem;
  }

  &__description {
    font-size: 16px;
    margin-bottom: 30px;
    color: $text-color-black;
  }

  &__image {
    width: 50%;
    img {
      width: 100%;
      border-radius: 8px
    }
  }
}
// WhyPartnerWithUs.scss
.why-partner {
  padding: 4rem 9rem;
  background-color: #F5F5F5;
  text-align: center;

  &__title {
    font-size: 1.9rem;
    color: $header-color;
    margin-bottom: 40px;
    font-weight: bold;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    background: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;

    &:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
  }

  &__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  &__subtitle {
    font-size: 1.15rem;
    color: black;
    margin: 10px 0;
    font-weight: 600;
  }

  &__description {
    font-size: 1rem;
    color: #666666;
    line-height: 1.5;
  }
}

// ClientCarousel.scss
.client-carousel {
  text-align: center;
  padding: 40px 20px;
  background-color: #ffffff;

  &__title {
    font-size: 2rem;
    color: #204e7c;
    margin-bottom: 20px;
    font-weight: bold;
  }

  &__slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
  }

  &__track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  &__item {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    img {
      max-width: 300px;
      max-height: 300px;
      object-fit: contain;
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .client-carousel__dot {
      width: 5px;
      height: 5px;
      margin: 0 5px;
      background-color: #ddd;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s;

      &.active {
        background-color: #204e7c;
      }
    }
  }
}

// StatsSection.scss
.stats-section {
  padding: 40px 20px;
  background-color: #F5F5F5;
  
  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: #204e7c;
    margin-bottom: 40px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr; // Stack items vertically on smaller screens
    }
  }

  &__item {
    text-align: center;
    padding: 20px;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__value {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2ecc71; // Green color for the numbers
    margin-bottom: 10px;
  }

  &__label {
    font-size: 1.1rem;
    color: #333333;
    margin-bottom: 5px;
  }

  &__sublabel {
    font-size: 0.9rem;
    color: #888888;
  }

  .elementor-icon-list-items {
    position: absolute;
    top: 0;
    left: 60%;
    line-height: 2rem;

    svg {
      width: 10px;
    }

    .elementor-icon-list-item {
      display: block;
    }
  }

  .hero-section__image {
    position: relative;
  }
}

