@use "@/styles/variables.scss" as *; 
/* Header Styles */
.header {
  background-color: white; /* Dark Blue for the background */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
