@use "@/styles/variables.scss" as *; 

:root {
  color: $text-color;
  background-color: #ffffff;      
  font-family: Montserrat, sans-serif;
}
html {
  font-size: 16px; /* 1rem will be 16px */
}
body {
  margin: 0;
}